<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="BOOK PROJECT">
    <meta name="author" content="TOLGA AKSOY">
    <meta name="keyword" content="TOOLGA AKSOY BOOK PROJECT">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Bookstore Application</title>

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="css/elegant-icons-style.css" rel="stylesheet"/>
    <link href="css/font-awesome.min.css" rel="stylesheet"/>
    <!-- Custom styles -->
    <link rel="stylesheet" href="css/fullcalendar.css">
    <link href="css/widgets.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet"/>
    <link href="css/jquery-ui-1.10.4.min.css" rel="stylesheet">

</head>

<body>
<section id="container" class="">

    <header class="header dark-bg">
        <div class="toggle-nav">
            <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
        </div>

        <!--logo start-->
        <a th:href="@{/index}" class="logo">Tolga <span class="lite">AKSOY</span></a>
        <!--logo end-->

        <div class="nav search-row" id="top_menu">

        </div>

        <div class="top-nav notification-row">
            <!-- user login dropdown start-->
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                <img alt="" src="img/avatar1_small.jpg">
                            </span>
                    <span class="username" th:text="${#authentication.getPrincipal().getUsername()}">Guest</span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu extended logout">
                    <div class="log-arrow-up"></div>

                    <li>
                        <a th:href="@{/logout}"><i class="icon_key_alt"></i> Log Out</a>
                    </li>
                    <li>
                        <a href="https://github.com/tolgaaksoy/bookstore-project"><i class="icon_key_alt"></i> Documentation</a>
                    </li>
                </ul>
            </li>
        </div>
    </header>
    <!--header end-->

    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <ul class="sidebar-menu">
                <li class="active">
                    <a class="" th:href="@{/index}">
                        <i class="icon_house_alt"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li><a class="" th:href="@{/bookstories}"><i class="icon_house"></i><span>Bookstore</span></a></li>
                <li><a class="" th:href="@{/authors}"><i class="icon_pencil_alt"></i><span>Author</span></a></li>
                <li><a class="" th:href="@{/books}"><i class="icon_book"></i><span>Book</span></a></li>
            </ul>
        </div>
    </aside>
    <!--sidebar end-->


    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <!--overview start-->
            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a th:href="@{/index}">Home</a></li>
                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="info-box blue-bg">
                        <i class="icon_house"></i>
                        <div class="count" th:text="${bookstoreCount}"></div>
                        <div class="title">Bookstore</div>
                    </div>
                    <!--/.info-box-->
                </div>
                <!--/.col-->

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="info-box brown-bg">
                        <i class="icon_pencil_alt"></i>
                        <div class="count" th:text="${authorCount}"></div>
                        <div class="title">Author</div>
                    </div>
                    <!--/.info-box-->
                </div>
                <!--/.col-->

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="info-box dark-bg">
                        <i class="icon_book"></i>
                        <div class="count" th:text="${bookCount}"></div>
                        <div class="title">Book</div>
                    </div>
                    <!--/.info-box-->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"></div>
                        <div style="background-image: url('img/bg-11.jpg'); background-size:100% 100%; height:400px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <!--main content end-->
</section>
<!-- container section start -->

<!-- javascripts -->
<script src="js/jquery.js"></script>
<script src="js/jquery-ui-1.10.4.min.js"></script>
<script src="js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.9.2.custom.min.js"></script>
<!-- bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- nice scroll -->
<script src="js/jquery.scrollTo.min.js"></script>
<script src="js/jquery.nicescroll.js" type="text/javascript"></script>

<!--custome script for all page-->
<script src="js/scripts.js"></script>
<!-- custom script for this page-->

</body>

</html>
